@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

:root {
  --white: #fff;
  --black: #000;
  --semi-black: #222;
  --green: #5f825c;
  --gray: #787878;
  --light-gray: #a9a9a9;
}

body {
  width: 100%;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  letter-spacing: -0.9px;
}

header,
.home__header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.home__header,
.header__link {
  color: var(--black);
  padding: 0 6rem;
}

.header__logo {
  filter: invert(45%) sepia(32%) saturate(355%) hue-rotate(68deg)
    brightness(97%) contrast(94%);
}

.router__link {
  text-decoration: none;
  padding: 0 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--white);
}

.router__link:hover {
  color: var(--green);
}

.cart {
  filter: invert(1);
  width: 20px;
}

.cart__header {
  width: 20px;
  filter: none;
}

.cart__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0 1rem;
}

/* HERO */

.hero {
  position: relative;
  top: 0;
  grid-template-columns: repeat((autofit, minmax(300px, 1fr)));
  max-width: 100%;

  min-height: 100vh;
  width: 100%;
  background: url("https://assets.website-files.com/64ed01cfd959df99c0368448/64ef5ddb5b42f90e9de0bd46_severin-candrian-0pJCjF_fpbM-unsplash%201%20(2)%20(1).webp")
    no-repeat center;
  background-size: cover;
  padding: 0 6rem 5rem 6rem;
}

.main__hero {
  max-width: 1440px;
  margin: 0 auto;
}

.hero__left {
  color: var(--white);
  margin-top: 3rem;
}

.hero__left h1 {
  font-size: 90px;
  max-width: 450px;
  line-height: 80px;
  font-weight: 500;
  letter-spacing: -2.7px;
}

.hero__left p {
  margin: 2rem 0 3rem 0;
  max-width: 460px;
  font-size: 1.1rem;
  line-height: 1.5em;
}

.span__color__black {
  color: var(--semi-black);
}

.span__color__green {
  color: var(--green);
}

.button__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discover__button {
  border-radius: 8px;
  background-color: var(--white);
  color: var(--black);
  padding: 1rem 2rem;
  font-weight: 500;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

.discover__button:hover {
  color: var(--white);
  background-color: var(--black);
}

.scroll__more {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--white);
  cursor: pointer;
  font-weight: 500;
}

.scroll__more:hover {
  filter: invert(45%) sepia(32%) saturate(355%) hue-rotate(68deg)
    brightness(97%) contrast(94%);
}

.scroll__more img {
  width: 15px;
  filter: invert(1);
}

/* COMPANY */

section {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 6rem;
  padding-right: 6rem;
}

.company__section {
  padding: 9rem 6rem;
}

.company__section h3 {
  margin-bottom: 2rem;
  font-size: 1.4rem;
}

.company__section h2 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -0.1rem;
  line-height: 55px;
}

.company__section p {
  margin: 4rem 0;
  font-size: 1.1rem;
  max-width: 600px;
}

/* SHOP */

.shop__header {
  display: flex;
  justify-content: space-between;
  padding: 5rem 0;
  align-items: end;
}

.shop__header h2 {
  font-size: 3.5rem;
  line-height: 60px;
  max-width: 800px;
  font-weight: 500;
  letter-spacing: -0.2rem;
}

.shop__header .router__link {
  border-bottom: 1px solid var(--black);
  padding: 0 0 0.8rem 0;
  display: block;
}

.shop__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
}

.product__container {
  width: 350px;
}

.product__image {
  width: 100%;
}

.image-cover {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  height: 437px;
}

.product__footer {
  margin: 1rem 0;
}

.product__name {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.1rem;
}

.product__price {
  font-size: 1.2rem;
  color: var(--gray);
}

.product__footer__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow__image {
  cursor: pointer;
}

.arrow__image:hover {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg);
  transform-style: preserve-3d;
}

.product__arrow__button {
  background-color: transparent;
  border: none;
}

/* QUALITY */

.quality__section {
  padding-top: 3rem;
}

.quality__container {
  padding: 5rem 0 0 15rem;
}

.quality__header__container {
  display: flex;
  align-items: center;
}

.quality__number,
.quality__header {
  color: var(--light-gray);
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: -0.1rem;
}

.quality__header {
  color: var(--black);
  margin-left: 1rem;
}

.quality__paragraph {
  max-width: 800px;
  line-height: 25px;
  color: var(--gray);
  font-size: 1.2rem;
}

hr {
  margin-top: 3rem;
  height: 1px;
  background-color: var(--light-gray);
  border: none;
}

.learn__container {
  margin: 4rem 0 0 15rem;
}

.learn__more {
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
  background-color: #222;
  padding: 1rem 2rem;
  border-radius: 5px;
}

.learn__more:hover {
  background-color: var(--green);
}
